
:root{
    --font--1:"Jersey 15";
}
html{
  font-family: var(--font--1);
}
.box1 {
    border: 3px red solid;
  }
  .box1 > .box {
    height: 100px;
    padding-inline: 10px;
    display: inline-block;
    background-color: red;
  }
  .box2 {
    border: 3px solid pink;
  }
  .main:nth-child(1) {
    height: 100px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main > a {
    color: black;
    background-color: chartreuse;
    outline: 4px solid green;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-inline: 10px;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.main > a:hover {
    color: pink;
}
  .box3 > a{
    color: white;
  }
.box2{
    background-color: firebrick;
}
.box3{
    background-color: brown;
}
.boxs{
    background-color: chocolate;
    height: 100%;
    display: block;
    padding: 10px;

}
.box3 > h1{
    font-family: var(--font--1);
    color: black;
    background-color: aqua;
}