* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}
:root {
  --slid-width: 1068px;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.slid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--slid-width);
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.left {
  color: white;
  padding-inline: 40px;
  width: calc(var(--slid-width) / 2);
  > h1 {
    line-height: 35px;
    padding-block: 10px;
  }
  > p {
    padding-bottom: 30px;
  }
  > a {
    background-color: #fff;
    height: 55px;
    width: 156px;
    padding: 16px;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
  }
}
.right {
  width: calc(var(--slid-width) / 2);
  > img {
    max-width: 80%;
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
}
.slid {
  position: absolute;
  z-index: 0;
  transition: all ease-out;
  -webkit-transition: all ease-out;
  -moz-transition: all ease-out;
  -ms-transition: all ease-out;
  -o-transition: all ease-out;
}
.slid_1 {
  animation: slid1 2s ease-out infinite;
  -webkit-animation: slid1 2s ease-out infinite;
}
.slid_2 {
  animation: slid2 2s ease-out infinite;
  -webkit-animation: slid2 2s ease-out infinite;
}
.slid_3 {
  animation: slid3 2s ease-out infinite;
  -webkit-animation: slid3 2s ease-out infinite;
}
.slid_4 {
  animation: slid4 2s ease-out infinite;
  -webkit-animation: slid4 2s ease-out infinite;
}
.slid_5 {
  animation: slid5 2s ease-out infinite;
  -webkit-animation: slid5 2s ease-out infinite;
}
@keyframes slid1 {
  0% {
    z-index: 1;
  }
  25% {
    z-index: -2;
    left: 250px;
  }
  50% {
    z-index: -1;
    left: 210px;
  }
  75% {
    z-index: -2;
    left: 75px;
  }
  100% {
    z-index: -1;
    left: 120px;
  }
}
@keyframes slid2 {
  0% {
    z-index: -1;
    left: 120px;
  }
  25% {
    z-index: 1;
  }
  50% {
    z-index: -2;
    left: 250px;
  }
  75% {
    z-index: -1;
    left: 210px;
  }
  100% {
    z-index: -2;
    left: 75px;
  }
}
@keyframes slid3 {
  0% {
    z-index: -2;
    left: 75px;
  }
  25% {
    z-index: -1;
    left: 120px;
  }
  50% {
    z-index: 1;
  }
  75% {
    z-index: -2;
    left: 250px;
  }
  100% {
    z-index: -1;
    left: 210px;
  }
}
@keyframes slid4 {
  0% {
    z-index: -1;
    left: 210px;
  }
  25% {
    z-index: -2;
    left: 75px;
  }
  50% {
    z-index: -1;
    left: 120px;
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: -2;
    left: 250px;
  }
}
@keyframes slid5 {
  0% {
    z-index: -2;
    left: 250px;
  }
  25% {
    z-index: -1;
    left: 210px;
  }
  50% {
    z-index: -2;
    left: 75px;
  }
  75% {
    z-index: -1;
    left: 120px;
  }
  100% {
    z-index: 1;
  }
}
