*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}
body{
    counter-reset: list;
}
.non{
    position: relative;
    counter-increment: list;
}
.non::after{
    content: counter(list) ".";
}
th{
    padding: 5px;
}
@media(max-width:600px){
    th{
        display: none;
    }
    td{
        display: block;
        position: relative;
    }
    td::before{
        content: attr(data-cell) " : ";
    }
}